*{
  box-sizing:border-box;
}

header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: white;
    height: 50px;

    /* background-color: blue; */
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
}



nav ul{
    list-style: none;
    text-align: center;
}

nav li{
    display: inline-block;
    padding: 5px 10px;
}

nav li a{
    color: #444;
    text-decoration: none;
    font-family: Verdana, Geneva, sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    margin-top: 10px;
}

nav li a:hover{
    color: #e89f71;
}

nav li a:active{
    color: #e38346;
}

.active{
    color: #e89f71;
}

main{
    background-color: #fafafa;
    /* height: 600px; */
    margin-top: 50px;
    /* margin-right: 30px;
    margin-left: 30px; */
    width: 100%;
}

.main-content{
    margin-top: 10px;
    width:60%;
    margin-right:5px;
    margin-left: 0px;
	float:left;
}

.main-content h1{
    font-family:"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.judul{
    height: 4px;
    background-color: #ed7b24;
    border: none;
    border-radius: 2px;
}

.headline{
    margin-top: 20px;
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    border-radius: 3px;
    animation-name: example;
    animation-duration: 4s;
}
@keyframes example {
  from {background-color: white;}
  to {background-color: yellow;}
}

.headline a{
    text-decoration: none;
}

.headline a img{
    width: 100%;
    border-radius: 3px 3px 0px 0px;
}

.headline h3{
    padding: 10px 20px 5px 20px;
    color: #1f1e1d;
    font-family: Arial;
    font-size: 30px;
}

.headline h3:hover{
    color: #e6852c;
}

.headline a p{
    font-size: 20px;
    padding: 10px 20px 25px 20px;
    color: #1f1e1d;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
    font-weight: 549    ;
}

.smol{
    padding-top: 20px;
    margin-top: 30px;
    width: 100%;
    /* text-align: center; */
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 3px;
}

.smol-grid{
    width:40%;
	display: inline-block;
	margin: 10px 10px 30px 35px;

    /* padding: 10px; */
    background-color: white;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 3px;
}

.smol-grid a{
    text-decoration: none;
    color: #1f1e1d;
    font-family: Arial;
    font-weight: bold;
}

.smol-grid p{
    padding: 5px 10px 10px 10px;
    font-size: 18px;
}

.pad{
    padding: 5px 10px 5px 10px;
    font-size: 20px;
}

.smol-grid a:hover{
    color:  #e8793e;;
}

.smol-grid a img{
    width: 100%;
    border-radius: 3px 3px 0px 0px;
}

.side-content{
    margin-top: 20px;
	width:20%;
    float:right;
    height: 100%;
    }

.side-content h1{
    font-family:"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.side-grid{
    margin-top: 20px;
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    border-radius: 3px;
}

.side-grid a{
    text-decoration: none;
    color: #1f1e1d;
    font-family: Arial;
    font-weight: bold;
}

.side-grid a:hover{
    color:  #e8793e;;
}

.side-grid a img{
    width: 100%;
    border-radius: 3px 3px 0px 0px;
}

.side-grid p{
    padding: 5px 10px 10px 10px;
    font-size: 18px;
}

footer{
    display: inline-block;
    left: 0;
    margin-top: 50px;
    bottom:0;
    width:100%;
    z-index: 100;
    background-color: white;
    -webkit-box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.2);
    height: 50px;
}

.copy{
    text-align: center;
}

.copy p{
    font-family: Arial, Helvetica, sans-serif;
    padding: 2.5px 15px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
